node_modules/
.next/
out/
.env*
!.env.example
.vercel/

# Temporary Office Files
~$*
*~

# Generated Documents
backend/generated_docs/
*.png
*.docx
!backend/templates/*.docx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Project Scratch & Utitily
Code/scratch/
/Code/*.txt
/Code/*.png
/Code/*.py
!/Code/backend/
!/Code/frontend/
!/Code/backend/templates/*.docx
/Code/*.docx
